@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, #552774, #4B939A );
}

main {
    position: relative;
    display: block;
    padding: 0px;
    width: 665px;
    margin-top: 150px;
    height: 282px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.473);
}

div#img {
    display: inline-block;
    background-position: left top;
    border-radius: 20px 0px 0px 20px;
    width: 200px;
    margin: 0px;
    padding: 0px;
    height: 282px;
}

section {
    padding: 0px;
}

section#todo {
    display: inline-block;
    width: 457px;
    position: absolute;
    top: 0%;
}


section.campo2 {
    padding-left: 5px;
}

section.campo2 > input {
    padding: 13px;
    width: 450px;
}

input#iemail {
    width: 400px;
}

input#isenha {
    width: 400px;
}

input#senha {

}