@charset "UTF-8";
*{
    height: 100%
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to bottom, #CCCB3B , #E0FA6E, #5A5A48);
    background-attachment: fixed;
}
p{
    text-align: justify;
}
h1{
    text-align: center;
    text-shadow: 1px 0px 0px #5a5a48b6;;
    color: #5A5A48;
}
h2{
    color: #5A5A48;
}
main{
    box-shadow: 10px 10px 10px #5a5a489c;;
    border-radius: 10px;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
}